.DS_Store
hidden_key.txt
dataset_2023-11.xlsx
dataset_all_types_names.xlsx
dataset_2023-12-20.xlsx
munawar-pacepilot-dash-a1d9e0921822.json
baseline_leaderboard.xlsx
dashboard.xlsx
output.xlsx
pace_pilot_dashboard.xlsx
pacepilot_results.xlsx
pacepilot_results_2day.xlsx
pacepilot_results_7day.xlsx
scores.xlsx
log_last_zd_messages.txt
tsks.csv

